@use './variables.json'
@forward '@material/theme' with ($primary: variables.$primary !default, $secondary: variables.$secondary !default, $on-primary: variables.$on-primary !default)

\:root
  --mdc-theme-primary: #{variables.$primary}
  --mdc-theme-secondary: #{variables.$secondary}
  --mdc-theme-background: #{variables.$background}

@import 'main.sass'
